body{
    background-color: #8c8c8c;
}

.main{
    background-color: white;
    margin: 30px;

}
.btn-pulish{
    float:right;
    margin-bottom: 15px;
}
.media-object{
    border-radius: 5px;
    width: 55px;
    height: 55px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}