body{
    background-color: #8c8c8c;
}

.main{
    background-color: white;
    margin: 30px;
    border-radius: 15px;
}
.btn-pulish{
    float:right;
    margin-bottom: 15px;
}
.media-object{

    width: 55px;
    height: 55px;
}
.media-body{
    padding-top: 17px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.comment{
    margin:10px 0px;
}
.profile .section{
    margin-top: 20px;
}
.community-menu{
    color: #999;
    font-size: 13px;
}
.jumbotron{
    margin: 50px;
    background-color: #8c8c8c;
}
.row{
    border: 20px;
    padding: 15px 0px;
}
.comment-btn{
    float: right;
    margin-bottom: 10px;
}